JSon2XML/PESSOA_FISICA.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ExemploRDB" xmlns:bons0="http://ExemploRDB">
	<xsd:include schemaLocation="WRAPPER.xsd"/>
	<xsd:complexType name="PESSOA_FISICA">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="NOME" type="xsd:string"/>
			<xsd:element minOccurs="0" name="PESSOA_FORMACAO_ACADEMICA" type="bons0:WRAPPER">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>